{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Somanath Patil - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Somanath Patil."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Somanath Patil" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Somanath Patil</h1>
			<h2 class="quickFade delayThree">DevOps/Support Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:joe@bloggs.com" target="_blank">somanath_patil@dusty.tamiu.edu</a></li>
				<li>w: <a href="http://www.bloggs.com">www.bloggs.com</a></li>
				<li>m: +1505-920-4181</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>During my job experience, i had practical skills with interesting technologies, tasks, people. In the whole role of my engineering practice include building and supporting ETL solutions based on Linux/Unix platform in a cloud(AWS) and on pre-mise, experience on automating regular tasks, Cloud infrastructure, monitoring and securing, Hadoop,OLTP,Automation and Linux administartion.Takes the form part in automating,supporting and to ensure delivery of Data Panles from sqooping to cloud in Data Operations..</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Senior Support Engineer at Envestnet | Yodlee </h2>
					<p class="subDetails">August 2017 - Present</p>
					<p>Responsible for writing and deploying jobs for sqooping OLTPs to Hadoop eco system and maintaining,securing and optimizing sqoop jobs in Hadoop, and writing,deploying and implementing big data jobs in Cloud infrastaructure(AWS). Automating launching and terminating AWS infrastucture,meerkat and spark clusters..</p>
				</article>
				
				<article>
					<h2> Support Engineer II at Amazon.com</h2>
					<p class="subDetails">January 2012 - December 2015</p>
					<p>worked as single point of contact for support for 11 Amazon developement teams, Responsible for testing,deploying and maintaining Data models for Amazon Ecommerce 
                     continusoly worked with Data Science team in defining and launching AWS infrastructure, satifiing the needs.Analyzing the logs and giving feedback to Dev teams.</p>
				</article>
				
				<article>
					<h2>Support Engineer I at Amazon.com</h2>
					<p class="subDetails">March 2010 - January 2012</p>
					<p>worked as single point of contact for support for 11 Amazon developement teams, Responsible for testing,deploying and maintaining Data models for Amazon Ecommerce 
                     continusoly worked with Data Science team in defining and launching AWS infrastructure, satifiing the needs.Analyzing the logs and giving feedback to Dev teams.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Linux/Unix</li>
					<li>AWS</li>
					<li>Python</li>
					<li>MySql/Oracle</li>
					<li>Shell script</li>
					<li>Hadoop</li>
					<li>Troubleshooting</li>
					<li>Big data</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Texas A&M International University</h2>
					<p class="subDetails">MS in Information Systems</p>
					<p>Relevant coursework: Software Engineering. Operating Systems. Information Systems,   Database. Computer Networks.</p>
				</article>
				
				<article>
					<h2>Hyderabad Institute of Technology and Management</h2>
					<p class="subDetails">Masters in Computer Applications</p>
					<p>Relevant coursework: software Applications, Databases, Operating Systems, Java</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>